<h1>voici la page de François</h1>
<p>Père de Nicolas Flamel, François D. est le premier Alchimiste de l’histoire ayant accompli la Grande Oeuvre, à savoir, percer les secrets de la pierre philosophale.</p>
<p>Il aurait, entre autre, réuni les sept boules de cristale, enseigné le kung-fu aux fondateurs des Temples ShaoLin et libéré Morpheus de la Matrice. Chuck Norris prétendrait être son second fils, Bruce Lee prétendant être le premier...
Sa localisation actuelle est inconnue mais il aurait été aperçu en train de se déplacer grâce à un Nimbus 2020...</p>
